article.section-theme--business:not(.bg-negative), article.section-theme--business:not(.bg-negative) > article, .bg-positive { 
	background-color: #ffffff; 
}

.bg-main {
	background-color: rgba(233,234,237,var(--bg-opacity));
}

.bg-ticker-20 {
	--bg-opacity: 1;
    background-color: rgba(65,150,164,var(--bg-opacity));
}

.nav-bar {
	background-color: #ffffff;
}

.bg-article {
	background-color: #ffffff;	
}

.bg-header-main {
    --bg-opacity: 1;
    background-color: #00194c;
    background-color: rgba(0,25,76,var(--bg-opacity));
}